<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lição 1: Saudações</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h1>Lição 1: Saudações</h1>
      </header>
      <div class="video-page-container">
        <div class="video-wrapper">
          <iframe
            src="https://www.youtube.com/embed/s3dK1iM2G10?si=p7u4E3tW3E_U5K1K"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
        <a href="{{ url_for('main') }}" class="back-button">Voltar para a Jornada</a>
      </div>
    </div>
  </body>
</html>
