<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio - Redaplay</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.png')}}"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h1 class="header-title">REDAPLAY</h1>
        <div class="header-spacer"></div>
        <div class="header-icons">
          <span class="icon">🔥 {{ user.streak }}</span>
          <span class="icon">💎 {{ user.diamonds }}</span>
          <span class="icon">🔔</span>
          <a href="/perfil">
            <span class="icon">👤</span>
          </a>
        </div>
        <a href="/logout" class="icon-button">
          <span class="icon">↪</span>
        </a>
      </header>

      <div class="main-content">
        <nav class="sidebar">
          <ul>
            <li class="active">🏠 Início</li>
            <li>📖 Lições</li>
            <li>✍️ Exercícios</li>
          </ul>
        </nav>

        <section class="unit-progress">
          <h2>Progresso da Unidade Atual</h2>
          <div class="lesson-list">
            {% for lesson in lessons %}
              <a
                href="/lesson{{ lesson.number }}"
                class="lesson-item disabled locked"
                data-id-lesson="{{ lesson.number }}"
              >
                <span class="lesson-status" id="status-{{ lesson.number }}"></span>
                <span class="lesson-title">{{ lesson.title }}</span>
              </a>
            {% endfor %}
          </div>
        </section>

        <aside class="challenges">
          <h2>Desafios Diários</h2>
          <div class="challenge-item">Escreva 1 Introdução.</div>
          <div class="challenge-item">
            Identifique 3 conectivos em um texto.
          </div>
        </aside>
      </div>
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
